jupyter
transformers
git+https://github.com/huggingface/transformers.git
numpy
fuzzywuzzy
torch
aiohttp
torchvision 
torchaudio
langchain 
unstructured
rarfile
langchain-community
faiss-cpu
unrar
sentence-transformers
xformers
accelerate 
einops
scikit-learn 
datasets 
peft
flask
flask-cors
gunicorn